/*GLOBAL STYLING*/
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
/*GLOBAL STYLING*/

/*HEADER*/
.header {
  background-color: #1f2937;
  color: #f9faf8;
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 20rem;
}

/* || NAV || */
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
}

.header .nav .nav_logo {
  color: #e5e7eb;
  font-size: 2.4rem;
  font-weight: bold;
}

.header .nav .nav_links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.header .nav .nav_links .nav_link {
  color: #e5e7eb;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/* || NAV || */

/* || HERO || */
.header .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 8rem;
}

/* __HERO TEXT__ */
.header .hero .hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header .hero .hero_text h1 {
  padding: 0;
  color: #f9faf8;
  font-size: 4.8rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.header .hero .hero_text p {
  font-size: 1.8rem;
  color: #e5e7eb;
  margin-bottom: 1rem;
}

.header .hero .hero_text .sign_up {
  all: unset;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #3882f6;
  color: #f9faf8;
}
/* __HERO TEXT__ */

/* __HERO IMAGE__ */
.header .hero .hero_img {
  background-color: #8a8a8a;
  font-size: 1.4rem;
  width: 55%;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* __HERO IMAGE__ */
/* || HERO || */
/*HEADER*/

/*MAIN*/

.main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* || CARDS || */
.main .cards_sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-bottom: 12rem;
}

.main .cards_sect h2 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bolder;
  color: #1f2937;
}

.main .cards_sect .cards_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.main .cards_sect .cards_ul .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main .cards_sect .cards_ul .card .square {
  width: 12rem;
  height: 12rem;
  border: 0.25rem solid #3882f6;
  border-radius: 1rem;
  background-color: #f9faf8;
}
/* || CARDS || */

/* || QOUTE || */
.main .qoute {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}

.main .qoute .qoute_wrapper {
  width: 60%;
  padding: 8rem 18rem;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 1rem;
}

.main .qoute .qoute_wrapper .qoute_text {
  font-size: 3.4rem;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 2rem;
}

.main .qoute .qoute_wrapper .author {
  display: inline-block;
  font-size: 2.4rem;
  margin-left: auto;
}
/* || QOUTE || */

/* || Signup || */

.main .signup {
  width: 50%;
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
  gap: 4rem;
  border-radius: 1rem;
}
.main .signup .text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main .signup .text h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.main .signup .text p {
  font-size: 1.2rem;
  color: #f9faf8;
}
.main .signup .signup_btn {
  all: unset;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
}
/* || Signup || */

/*  || FOOTER */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 4rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0;
}
/*  || FOOTER */

/*MAIN*/
